body.home {
  background-image: url('./../../images/background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
}

html, body, div, canvas {
  margin: 0;
  padding: 0;
}

div.share {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
}