/* body.info {
  position: absolute;
  overflow: hidden;
} */

body.info {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.carousel-slide {
  height: 450px;
  margin-top: 5vh;
}

.carousel-card {
  height: 380px;
  margin: 20px;
  text-align: center;
}

div.card-container {
  display: inline-block;
}

div.card-image {
  margin: 0;
  padding: 0;
  width: 327px;
}

div.card-title {
  margin-top: -3px;
  height: 10px;
  width: 307px;
  padding: 10px;
  background-color: white;
  text-align: center;
  color: #515151;
  font-size: 12pt;
}

div.card-body {
  height: 65px;
  width: 307px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  color: #666666;
  font-size: 11pt;
}