body.face {
  position: fixed;
  /* background-color: purple; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.chooseFile {
  width: 100%;
  height: 40px;
  padding: 20px;
  /* background-color: green; */
}

.stage {
  position: relative;
  width: 100%;
  padding-top: 75%;
  background-color: brown;
}

.userImage {
  background-color: grey;
  position: absolute;
	top: 0;
  left: 0;
  height:100%;
  width: 100%;
  max-width: 100%;
}

.overlay {
  background-image: url('./images/face_overlay.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  /* background-color:blue; */
}